body {
    font-family: sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #2a2a2a;
}
.proba{
    color: greenyellow;
    background-color: black;
    border: 5px solid #D2691E;
    border-radius:10px;
    cursor:wait;
}
.zagolovok{
    color:red;
}
ol #number_list{
    color:blueviolet;
}
.homework{
    font-size:medium;
    color:#7CFC00;
}
.homework:hover,
.homework:focus{
color:mediumpurple;
}
.sinex tr:hover{
background-color: cornflowerblue;
}
.cirkul td:hover{
background-color: red;
}